.footer {
  @extend %grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 1rem;
  padding-block: $spacing-16;

  &__copyright p {
    @extend %text-preset-8;
    color: $color-neutral-600;
  }

  &__icons {
    @extend %flexbox;
    flex-flow: row nowrap;
    gap: $spacing-16;
    justify-self: end;

    a:focus,
    a:focus-visible,
    a:focus-within {
      outline: none;
      box-shadow:
        0 0 0 2px $color-neutral-0,
        0 0 0 4px $color-blue-800;
      border-radius: 0.2rem;
    }
  }

  &__icon {
    width: 1.8rem;
    height: 1.6rem;
    fill: $color-neutral-600;
    transition: all 0.25s ease;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
