.navigation {
  @extend %grid;
  grid-template-columns: auto 1fr auto;
  column-gap: $spacing-6;
  background-color: $color-neutral-0;
  padding: $spacing-6;
  border-radius: $radius-10;
  box-shadow: inset 0 0 0 1px $color-neutral-200;
  filter: drop-shadow(0 6px 10px rgba($color: #7b7b7b, $alpha: 0.03));
  position: relative;

  @include respond-to($breakpoint-tablets) {
    column-gap: $spacing-20;
  }

  &__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: $radius-10;
  }

  &__menu-icon {
    width: 4rem;
    height: 4rem;
    padding: $spacing-12;
    fill: $color-neutral-700;
    justify-self: end;
  }

  &__theme-icon {
    width: 1.7rem;
    height: 1.7rem;
    fill: $color-neutral-0;
    stroke: $color-neutral-900;
  }

  &__menu-btn,
  &__theme-btn {
    background: none;
  }

  &__menu-btn {
    width: fit-content;
    justify-self: end;
    @include respond-to($breakpoint-tablets) {
      display: none;
    }
  }

  &__theme-btn {
    background-color: $color-neutral-100;
    width: 4rem;
    height: 4rem;
    box-shadow: inset 0 0 0 1px $color-neutral-200;
    border-radius: $radius-8;
    padding: $spacing-12;
  }

  &__list {
    @extend %flexbox;
    width: 100%;
    background-color: $color-neutral-0;
    padding: $spacing-12;
    border-radius: $radius-10;
    box-shadow:
      inset 0 0 0 1px $color-neutral-200,
      0 8px 15px rgba($color: #080619, $alpha: 0.06);
    position: absolute;
    top: calc(5.2rem + 1.2rem);

    @include respond-to($breakpoint-tablets) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: $spacing-24;
      position: static;
      background: none;
      box-shadow: none;
      justify-self: end;
      width: auto;
      padding: 0;
    }

    li {
      &:not(:last-of-type) {
        border-bottom: 1px solid $color-neutral-200;
      }

      &:not(:first-of-type),
      &:not(:last-of-type) {
        padding-block: $spacing-6;
      }

      a {
        @extend %text-preset-6;
        color: $color-neutral-900;
      }

      @include respond-to($breakpoint-tablets) {
        border-bottom: none !important;
        padding-block: 0 !important;
      }
    }
  }
}
