:root[data-theme="dark"] {
  body {
    background-color: $color-neutral-900;
  }

  .navigation {
    &__list li a {
      &:focus {
        box-shadow:
          0 0 0 2px $color-neutral-800,
          0 0 0 4px $color-blue-800;
      }
    }
  }

  .intro {
    &__title {
      color: $color-neutral-0;
    }

    &__icons {
      a {
        background-color: $color-neutral-800;
        box-shadow: inset 0 0 0 1px $color-neutral-700;

        &:hover {
          opacity: 0.7;
        }

        &:focus {
          box-shadow:
            inset 0 0 0 1px $color-neutral-700,
            0 0 0 2px $color-neutral-800,
            0 0 0 4px $color-blue-800;
        }
      }
    }

    &__icon {
      fill: $color-neutral-0;
    }
  }

  .wrapper {
    border-color: $color-neutral-700;
  }

  .divider {
    background-color: $color-neutral-700;
  }

  .articles {
    &__link {
      color: $color-neutral-0;
    }

    &__link {
      &:focus {
        box-shadow:
          0 0 0 2px $color-neutral-800,
          0 0 0 4px $color-blue-800;
      }
    }
  }

  .article {
    &__title {
      a {
        color: $color-neutral-0;

        &:focus {
          box-shadow:
            0 0 0 2px $color-neutral-800,
            0 0 0 4px $color-blue-800;
        }
      }
    }

    &__date {
      color: $color-neutral-400;
    }
  }

  .blogs {
    &__articles {
      border-top-color: $color-neutral-700;
    }
  }

  .page__title {
    color: $color-neutral-0;
  }

  .page__desc {
    color: $color-neutral-400;
  }

  .footer {
    &__copyright p {
      color: $color-neutral-400;
    }

    &__icon {
      fill: $color-neutral-400;
    }

    &__icons {
      a:focus,
      a:focus-visible,
      a:focus-within {
        box-shadow:
          0 0 0 2px $color-neutral-800,
          0 0 0 4px $color-blue-800;
      }
    }
  }

  .blog {
    &__title,
    &__subtitle,
    &__sub-subtitle {
      color: $color-neutral-0;
    }

    &__text,
    &__date,
    &__list {
      color: $color-neutral-400;
    }

    &__blockquote {
      color: $color-neutral-0;

      &::before {
        background-color: $color-neutral-600;
      }
    }

    &__divider {
      background-color: $color-neutral-700;
    }

    &__pre,
    code {
      background-color: $color-neutral-700 !important;
    }

    &__table {
      th,
      td {
        border-color: $color-neutral-600;
        color: $color-neutral-400;
      }
    }
  }
}
