[hidden] {
  display: none;
}
.container {
  max-width: 64rem;
  margin-block: $spacing-16;
  margin-inline: $spacing-16;

  @include respond-to("(min-width: 42em)") {
    margin-block: $spacing-20;
    margin-inline: auto;
  }

  @include respond-to($breakpoint-large-tablets) {
    margin-block-end: $spacing-32;
  }
}

.wrapper {
  max-width: 62rem;
  margin-inline: 0.4rem;
  padding-block-start: $spacing-32;
  padding-inline: 1rem;
  border-left: 1px solid $color-neutral-200;
  border-right: 1px solid $color-neutral-200;

  @include respond-to("(min-width:42em)") {
    margin-inline: auto;
  }

  @include respond-to($breakpoint-large-tablets) {
    padding-block-start: $spacing-48;
  }
}

.page__title {
  @extend %text-preset-2;
  color: $color-neutral-700;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0.8rem;
    margin-inline-start: 1rem;
    background-color: $color-blue-500;
    width: 4rem;
    height: 0.3rem;
  }
}

.page__desc {
  @extend %text-preset-7;
  color: $color-neutral-600;
  text-wrap: auto;
}

.resizing * {
  animation: none !important;
  transition: none !important;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $color-neutral-200;
}
